<!-- footer -->
<div class="contaainer-fluid footer">
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <h6>contect info</h6>
           <a href="#"><i class="far fa-envelope"></i> &nbsp Careccss@gmail.com</a> <br>
           <a href="#"><i class="fas fa-mobile-alt"></i> &nbsp +91 - 8406892666 </a>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h6>Address</h6>
           <h5>Corpt. Office</h5>
              <p>B6, Deyalbag Near Railway Line Sanni Mandir Faridabad Hariyana NCR <br>
              New Delhi - 121009<br>
              Email: ccsclimited@gmail.com</p>
          
          <h5>Register Office</h5>
              <p>
                      Agarwa Near Mai Asthan, Motihari Bihar - 845401 <br>
                      Mobile: +91 - 7654651009 <br>
                      Email: contact@ccsc.co.in
              </p>

      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 quick-link">
          <h6>Quick Links</h6>
          <ul>
                  <li><a href="#"><i class="fab fa-facebook" area-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter" area-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fab fa-google-plus" area-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin" area-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram" area-hidden="true"></i></a></li>
          </ul>

      </div>
    </div>
  </div>
</div>
<!-- footer -->

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>