<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/contect.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/services.css">
    <link rel="stylesheet" href="css/login.css">

    <script src="js/login.js"></script>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <title>CCSC</title>
  </head>
  <body>

      <div class="container-fluid social">
          <div class="container">
              <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"><a href="#"><i class="far fa-envelope"></i> Careccss@gmail.com</a></div>
                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"><a href="#"> pan Enquiry &nbsp<i class="fas fa-mobile-alt"></i> +91 - 9973261369</a></div>
                  <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"><a href="#"><i class="fas fa-mobile-alt"></i> +91 - 8406892666 </a></div>
                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
                  <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                     <a href="#"><i class="fab fa-facebook-square"></i></a>&nbsp
                                     <a href="#"><i class="fab fa-twitter-square"></i></a>&nbsp
                                     <a href="#"><i class="fab fa-google-plus-square"></i></a>&nbsp
                                     <a href="#"><i class="fab fa-linkedin"></i></a>                     
                  </div>
                  </div>
              </div>
          </div>