<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
          <img src="img/logo.png" style="width: 150px; height:60px;">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link text-body" href="/" style="font-weight: 600; font-size: 16px; color: #00022f;">
                      <i class="fas fa-home"></i> Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-body" href="/about" style="font-weight: 600;font-size: 16px; color: #00022f;">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-body" href="/services" style="font-weight: 600; font-size: 16px; color: #00022f;" >Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-body" href="/contect" style="font-weight: 600; font-size: 16px; color: #00022f;" >Contect</a>

              <li class="nav-item">
                <a class="nav-link text-body login" href="/login" style="font-weight:600; font-size: 16px; color: #00022f;" >Login</a>
              </li>
            </ul>
          </div>
        </nav>
</div>