<% include partials/header %>
<%include partials/navbar %>

<!-- about first image -->
     <div class="container-fluid about">
        <img src="img/aboutimg.jpg">
     </div>
<!-- about first image -->

<div class="container-fluid" style="margin-bottom: 50px;">
    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="about-nav">
                    <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Offers</a></li>
                            <li><a href="#">Legalities</a></li>
                    </ul>
            </div> 
            <div class="letest-news">
                <h4>Letest News</h4>
            </div> 
            <div class="letest-news-section">
                    <marquee behavior="slide" direction="left" style="padding: 10px 20px; font-size:14px;"><b>welcome to news section...</b></marquee>
            </div>
        </div>


        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="about-nav">
                        <div class="media">
                                <img src="img/devloper1.png" class="align-self-start mr-3 img-thumbnail" alt="...">
                                <div class="media-body">
                                  <h5 class="mt-0">Welcome To Company Name</h5>
                                  <p>We are a team of professionals working towards the betterment of our services and the industry as well. Coming from different verticals of life, we have a combined experience of over 1.5 years in between us.</p>
                                  <p>Our technology team is well supported by an able and progressive administration and marketing divisions. We are focused to give the best to our Distributors so as they can rely on us for all their needs and necessities.</p>
                                  <p>We have adopted one of the high end technologies available in the industry to provide best service to our customers without compromising on quality. We assure that at all times you will have our prompt services.</p>
                                  <p>We are seeking to deliver next generation services to consumers, Rural and Urban, by offering a compelling business opportunity.</p>
                                </div>
                              </div>                        
                </div>
                <hr>
                <div class="about-nav">
                        <div class="media">
                                <img src="img/devloper.jpg" style="width:300px; height:160px;" class="align-self-start mr-3 img-thumbnail" alt="...">
                                <div class="media-body">
                                  <h5 class="mt-0">Director Speak</h5>
                                  <p>The My Recharge Business Plan puts you in control, allowing you the flexibility to work where and when you want, giving you time for family and friends as well as the opportunity to earn a handsome income. It adapts easily to your needs and ambitions, and grows with them, offering you all the personal support and assistance you require to become the Business owner you want to be.</p>
                                  <br>
                                  <p>At My Recharge we believe that to sell a quality product and service you need to understand it and use it with confidence. Our role supporting your business extends into product service and business training, helping to ensure that you are able to reach your personal potential.</p>
                                </div>
                              </div>                        
                </div>
        </div>
    </div>
</div>




<% include partials/footer %>