<% include partials/header %>
<% include partials/navbar %>

<div class="container contect-class">
    <div class="container text-center" style="padding-top:30px; padding-bottom:30px;">
        <h2>Contect Us</h2>
         <a href="#">example@gmail.com</a>
    </div>
</div>
    <div class="container-fluid bg-light"> 
        <div class="container" style="padding-top:30px; padding-bottom:30px;">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">

                        <div class="card text-center" style="width: 18rem;">
                                <div class="card-body">
                                <h5 class="card-title">Corpt. Office</h5>
                                <p class="card-text">B6, Deyalbag Near Railway Line Sanni Mandir</p>
                                <br>
                                <p>Faridabad Hariyana NCR
                                <br>New Delhi - 121009</p>
                                <a href="#" >Email: ccsclimited@gmail.com</a>
                                </div>
                        </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">

                        <div class="card text-center" style="width: 18rem;">
                                <div class="card-body">
                                <h5 class="card-title">Register office</h5>
                                <p class="card-text">Agarwa Near Mai Asthan, Motihari<br>Bihar</p><br>
                                    <p>Bihar - 857402<br>
                                    Mobile: +91 - 8406892666,</p> 
                                    <a href="#">Email: careccsc@gmail.com</a>
                                </div>
                        </div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">

                        <div class="card text-center" style="width: 18rem;">
                                <div class="card-body">
                                <h5 class="card-title">Branch CCSC</h5>
                                <p class="card-text">rajendra nagar,near railway station ward no.12</p><br>
                                <p>Patna<br>456709</p>
                                <a href="#">Email: careccsc@gmail.com</a>
                                </div>
                        </div>

                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid">
            <div class="container text-center">   
                <h4>Give Us Your Review Here</h4>     
              <form>
                    <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">Name</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1">
                    </div>
                    <div class="form-group">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
                    <div class="btn btn-sm btn-success">Submit</div>
              </form>

            </div>
          </div>

<% include partials/footer %>