<% include partials/header %>
<% include partials/navbar %>

    <!-- poster -->
    <div class="container-fluid poster">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <img style="height:350px; width: 100%; padding-top: 83px; padding-left: 10px;" src="img/logo1.png">
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 poster-2"><h1>WELCOME TO CCSC</h1>
                <p>We provide all mobile , dth, data card, postpaid bill payment service in India. We aim at empowering our users by providing quick and convenient prepaid mobile recharge as well as DTH recharge. ccsc.co.in is completely reliable in terms of services and security.</p>
                <button class="btn-read">Read More</button>
            </div>
            
        </div>
    </div>
    <!-- poster -->


    <!-- 2nd row-->
    <div class="container options">
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <img class="img-thumbnail mx-auto d-block" src="img/apes.png">
                <h4>APES Yes Bank</h4>
                <p>We provide all providers electricity bill payment service in India..</p>
                <button class="btn-read-more">Read more</button>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <img class="img-thumbnail mx-auto d-block" src="img/pan.png">
                    <h4>PAN CARD</h4>
                    <p>We provide all mobile , dth, data card, postpaid bill payment service in India..</p>
                    <button class="btn-read-more">Read more</button>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <img class="img-thumbnail mx-auto d-block" style="width:265px; height:180px;" src="img/transfar.png">
                    <h4>Money Transfar</h4>
                    <p>Soon ccsc.co.in will be lunching the money transfer services..</p>
                    <button class="btn-read-more">Read more</button>
            </div>
        </div>
    </div>
<!-- 2nd row-->

<!-- service list -->
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 service">
            <h4>Service List</h4>
            <ul>
                <li><a href="#"><i class="fas fa-mobile-alt"></i> &nbsp Mobile Recharge</a></li>
                <li><a href="#"><i class="fas fa-desktop"></i> &nbsp Dth Recharge</a></li>
                <li><a href="#"><i class="fas fa-fighter-jet"></i> &nbsp Flight Ticket</a></li>
                <li><a href="#"><i class="fas fa-subway"></i> &nbsp Rail Ticket</a></li>
                <li><a href="#"><i class="fas fa-money-bill"></i> &nbsp E-Bill</a></li>
                <li><a href="#"><i class="fas fa-passport"></i> &nbsp Passport</a></li>
                <li><a href="#"><i class="fas fa-motorcycle"></i> &nbsp Motor Insurance</a></li>
            </ul>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 recharge-mob">
            <h4>Recharge your Mobile Now</h4>
            <p>Tell us your number and we will figure out the rest</p>
             
            <form>
                    <div class="row">
                      <div class="col">
                        <input type="text" class="form-control" placeholder="+91 ">
                      </div>
                      <div class="col">
                        
                            <div class="custom-control custom-radio custom-control-inline mr-auto">
                                    <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline1">Prepaid </label>
                                  </div> &nbsp &nbsp
                                  <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline2"> Postpaid</label>
                            </div>
                      </div>
                    </div>
                    <button class="proceed">Proceed</button>
                  </form
        </div>
    </div>
</div>
</div>
<!-- service list -->
    
<% include partials/footer %>