<% include partials/header %>
<% include partials/navbar %>

<div class="container" style="margin-top:50px;">
        <div id="our-service-logo"><img src="img/our-services.png"></div>
</div>


<hr>

<div class="container">
    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="service-button">
                <h4>Service list</h4>                                
            </div>
            <div class="service-list-all">
                    <ul>
                            <li><a href="#">Mobile Recharge</a></li>
                            <li><a href="#">Land Line</a></li>
                            <li><a href="#">Broad Band</a></li>
                            <li><a href="#">AEPES</a></li>
                            <li><a href="#">Dth Recharge</a></li>
                            <li><a href="#">Eletricity Billing</a></li>
                            <li><a href="#">Water Billing</a></li>
                            <li><a href="#">Gas Billing</a></li>
                            <li><a href="#">House Tax</a></li>
                            <li><a href="#">Hotel Booking</a></li>
                            <li><a href="#">Health Card</a></li>
                            <li><a href="#">Wheecals insurence</a></li>
                            <li><a href="#">Voter Id Card</a></li>
                            <li><a href="#">Pan Card Apply</a></li>
                            <li><a href="#">Passport</a></li>
                            <li><a href="#">Money Transfar</a></li>
                            <li><a href="#">Rail Ticket</a></li>
                            <li><a href="#">Bus Ticket</a></li>
                            <li><a href="#">Flight Ticket</a></li>
                            <li><a href="#">E - Learning</a></li>
                            <li><a href="#">Micro Finance</a></li>
                            <li><a href="#">Micro ATM</a></li>
                            <li><a href="#">All Bank Accepts</a></li>
                    </ul>
            </div>            
        </div>


        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <button type="button" class="btn btn-primary btn-lg btn-block">Mobile Recharge</button>
                <div class="recharge-company">
                    <h6>We provide following mobile recharge service in India.</h6>
                    <p>&diams; &nbsp Airtel</p>
                    <p>&diams; &nbsp Vodafone</p>
                    <p>&diams; &nbsp BSNL</p>
                    <p>&diams; &nbsp Reliance-CDMA</p>
                    <p>&diams; &nbsp Reliance-GSM</p>
                    <p>&diams; &nbsp Aircel</p>
                    <p>&diams; &nbsp MTNL</p>
                    <p>&diams; &nbsp Idea</p>
                    <p>&diams; &nbsp Reliance Jio</p>
                </div>
                <button type="button" class="btn btn-primary btn-lg btn-block">Dth Recharge</button>
                <div class="recharge-company">
                        <h6>We provide following Dth recharge service in India.</h6>
                        <p>&diams; &nbsp Dish TV DTH</p>
                        <p>&diams; &nbsp Tata Sky DTH</p>
                        <p>&diams; &nbsp Big TV DTH</p>
                        <p>&diams; &nbsp Videocon DTH</p>
                        <p>&diams; &nbsp Sun DTH</p>
                        <p>&diams; &nbsp Airtel DTH</p>
                </div>  
                
<!-- app -->

                <div class="app">
                    <h3>Heading out? Take our App with you!</h3>
                    <p>Download our free mobile app today</p>
                    <img src="img/app-store.png">
                </div>

<!-- app -->
                
        </div>
    </div>
</div>

<% include partials/footer %>