.about img {
    width: 100%;
}

.about-nav {
    margin-top: 30px;
}
.about-nav ul li {
    list-style-type: none;
    padding: 6px 12px;
    margin: 10px;
    border-left: 4px solid red;
    border-right: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
}

.about-nav ul li a:hover{
    text-decoration: none;
    color: #00022f;
    margin-left: 10px;
}

.letest-news h4 {
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
    padding: 7px 14px;
}

.letest-news-section {
    width: 100%;
    height: 300px;
    border-top: 3px solid red;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.media p {
    font-size: 14px;
}