.card {
    box-shadow: 0 20px 50px rgba(0,0,0,.1);
}

.card:hover {
    box-shadow: 0 30px 70px rgba(0,0,0,.3);
}

.form-group label {
    font-weight: 700;
}

.contect-class a {
    color: #00022f;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}

.card a {
    color: #00022f;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}