.social {
    background: #00022f;
}
.social a {
    color: aliceblue;
    padding: 0px;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}
.social a:hover {
    text-decoration: none;
    color: aliceblue;
}
.fa-facebook-square {
    color: aliceblue;
}

.poster {
    width: 100%;
    height: 450px;
    background-image: linear-gradient(to bottom, rgb(0, 1, 40), rgb(10, 19, 201));
}

.poster-2 { 
    margin-top: 130px; 
    text-align: center;
    color: aliceblue;   
    
}

.poster-2 h4 {  
    font-size: 30px;  
}

.poster-2 p {  
    padding: 15px;
    font-size: 12px; 
    font-weight: 500; 
    letter-spacing: 1px;
}

.btn-read {
    color: aliceblue;
    border-radius:5px;
    background: #070D9B;
    padding: 8px 20px;
    font-weight: 500;
    border: 1px solid aliceblue;
}

.btn-read:hover {
    background: aliceblue;
    color: #070D9B;
    transition: .5s;
    border: 1px solid #070D9B;
}

.options {
    margin-top: 50px;
    text-align: center;
}

.options h4{
    text-align: center;
    color: #00022f;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 5px;
}

.options p {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.btn-read-more {
    color: aliceblue;
    border: 1px solid aliceblue;
    border-radius:5px;
    padding: 6px 20px;
    background: #070D9B;
    font-weight: 500;
}

.btn-read-more:hover {
    color: #070D9B;
    border: 1px solid #070D9B;
    background: aliceblue;
    transition: .5s;
}
.service h4 {
    color: #00022f;
    padding: 10px 15px;
    margin-top: 50px;
    font-weight: 700;
    text-align: center;
}

.service ul li {
    list-style-type: none;
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid #00022f;
    text-align: center;
    border-radius: 10px;
}

.service ul li a {
    color: #00022f; 
    font-size: 14px;
    font-weight: 500;  
}

.service ul li a:hover {
    text-decoration: none;
    color: aliceblue;
}

.service ul li:hover {
    border: 1px solid #070D9B;
    background: #070D9B;
    color: aliceblue;
}

.recharge-mob h4{
    color: #00022f;
    padding: 0px 15px;
    margin-top: 200px;
    font-weight: 500;
    text-align: center;
}

.recharge-mob p {
    color: #00022f;
    font-weight: 400;
    text-align: center;
}
.recharge-mob form {
    text-align: center;
    border-radius: 1px solid #00022F;
}
.proceed {
    margin-top: 50px;
    color: aliceblue;
    border: 1px solid aliceblue;
    border-radius:5px;
    padding: 6px 20px;
    background: #070D9B;
    font-weight: 500;
}
.proceed:hover {
    color: #070D9B;
    border: 1px solid #070D9B;
    background: aliceblue;
    transition: .5s;
}

.footer {
    margin-top: 30px;
    text-align: center;
    color: aliceblue;
    background: #00022F;
}
.footer a {
    color: aliceblue;
    font-size: 14px;
}

.footer h6 {
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
}

.footer h5 {
    font-size: 14px;
    font-weight: 500;
    padding: 5px;
}

.footer p {
    font-size: 12px;
    font-weight: 400;
}

.quick-link ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.quick-link ul li {
    list-style: none;
    float: left;
}

.quick-link ul li a {
    display: block;
    color: aliceblue;
    margin: 0 10px;
    font-size: 20px;
    transition: 0.5s;
    text-align: center;
}

.quick-link ul li a:hover {
    color: #e91e63;
    transform: rotateY(360deg);
}
