.services-page h4 {
    text-align: center;
    word-spacing: 20px;
    font-size: 20px;
    margin-left: 192px;
    font-weight: 400;
}

#our-service-logo{
    text-align: center;
}

.service-button {
   
}

.service-button h4 {
    font-size: 20px;
    letter-spacing: 5px;
    border: 1px solid aliceblue;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    background: #00022f;
    color: aliceblue;
}



.service-list-all {
    margin: 20px;
    width: 100%;
}

.service-list-all ul {
    margin-left: -67px;
    margin-right: 10px;
}

.service-list-all ul li {
    list-style: none;
    border: 1px solid #00022f;
    text-align: center;
    padding: 10px 20px;
    font-size: 14px;
    margin: 10px;
    border-radius: 10px;
}

.service-list-all ul li a {
    width: 100%;
    text-decoration: none;
    color: #00022f;
    font-weight: 500;
}

.recharge-company h6 {
    padding: 20px 20px;
}

.recharge-company p {
    margin-left: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
}

.app h3 {
    font-size: 30px;
    letter-spacing: 1px;
}
.app p {
    letter-spacing: 1px;
    color: #999999;
    font-weight: 500;
}

.app {
    text-align: center;
    margin-top: 18%;
}

.app img {
    width: 300px;
}